---
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Layout from '@layouts/Layout.astro';
import socials from '@data/socials.json';
import donates from '@data/donates.json';
import others from '@data/others.json';

const communities = socials.filter((s) => s.kategori === 'Communities');
const blogLink = others.find((o) => o.nama === 'Futami Blog');
const baTools = others.find((o) => o.nama === 'Blue Archive Tools');
---

<Layout title="Social - Futami">
	<!-- 1. Platform (Single Button) -->
	<Section title="Platform">
		<Card
			title="Channels"
			subtitle="Videos, shorts, and more"
			icon="video"
			href="/channels"
		/>
		{
			blogLink && (
				<Card
					title={blogLink.nama}
					subtitle={blogLink.deskripsi}
					icon={blogLink.icon_name}
					href={blogLink.url}
				/>
			)
		}
		{
			baTools && (
				<Card
					title={baTools.nama}
					subtitle={baTools.deskripsi}
					icon={baTools.icon_name}
					href={baTools.url}
				/>
			)
		}
	</Section>

	<!-- 2. Communities -->
	<Section title="Communities">
		{
			communities.map((item) => (
				<Card
					title={item.nama}
					subtitle={item.deskripsi}
					icon={item.icon_name}
					href={item.url}
				/>
			))
		}
	</Section>

	<!-- 3. Support Me -->
	<Section title="Support Me" id="support">
		<Card
			title="Affiliate"
			subtitle="Buy gear and app stuff"
			icon="cart"
			href="/donate/affiliate"
		/>

		{
			donates.map((item) => (
				<Card
					title={item.nama}
					subtitle={item.deskripsi}
					icon={item.icon_name}
					href={item.url}
				/>
			))
		}
	</Section>
</Layout>
