---
export const prerender = false;

import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Navbar from '@components/Navbar.astro';
import NavbarButton from '@components/NavbarButton.astro';
import Card from '@components/Card.astro';
import CardYoutube from '@components/CardYoutube.astro';
import { Icon } from 'astro-icon/components';
import platforms from '@data/platforms.json';
import others from '@data/others.json';
import affiliates from '@data/affiliates.json';

// Mengambil data dari API Blog
const response = await fetch('https://blog.futami.my.id/api/latest.json');
const data = await response.json();
// Mengambil hanya 3 data pertama
const latestPosts = data.slice(0, 3);

// Data untuk section Platform
const baTools = others.find((o) => o.nama === 'Blue Archive Tools');
const randomPlaylist = platforms
	.filter((p) => p.icon_name === 'playlist')
	.sort(() => 0.5 - Math.random())[0];
const randomActiveChannel = platforms
	.filter((p) => p.archive === false && p.icon_name !== 'playlist')
	.sort(() => 0.5 - Math.random())[0];

// Ambil 2 random affiliates
const randomAffiliates = affiliates.sort(() => 0.5 - Math.random()).slice(0, 2);
---

<Layout title="Futami - talk about anything">
	<Navbar>
		<NavbarButton label="Video Content" icon="video" href="/platform" />
		<NavbarButton
			label="Read Blog"
			icon="blog"
			href="https://blog.futami.my.id"
		/>
		<NavbarButton label="Community Group" icon="socials" href="/social" />
		<NavbarButton label="Finantial Support" icon="wallet" href="/donate" />
	</Navbar>

	<Section title="Latest Updates">
		<CardYoutube limit_videos={1} />
		{
			latestPosts.map((post: any) => (
				<Card
					title={post.title}
					subtitle={post.description}
					icon="article"
					href={post.link}
				/>
			))
		}

		<div slot="action" class="flex gap-4">
			<a
				href="/platform"
				class="btn-action flex items-center"
			>
				Channels <Icon name="arrow-right" class="ml-2 h-4 w-4" />
			</a>
			<a
				href="https://blog.futami.my.id"
				class="btn-action flex items-center"
			>
				Blog <Icon name="arrow-right" class="ml-2 h-4 w-4" />
			</a>
		</div>
	</Section>

	<Section title="Platform">
		{
			baTools && (
				<Card
					title={baTools.nama}
					subtitle={baTools.deskripsi}
					icon={baTools.icon_name}
					href={baTools.url}
				/>
			)
		}
		{
			randomPlaylist && (
				<Card
					title={randomPlaylist.nama}
					subtitle={randomPlaylist.deskripsi}
					icon={randomPlaylist.icon_name}
					href={randomPlaylist.url}
				/>
			)
		}
		{
			randomActiveChannel && (
				<Card
					title={randomActiveChannel.nama}
					subtitle={randomActiveChannel.deskripsi}
					icon={randomActiveChannel.icon_name}
					href={randomActiveChannel.url}
				/>
			)
		}
		<Card
			title="Community"
			subtitle="Social and community group"
			icon="socials"
			href="/social"
		/>
	</Section>

	<Section title="Support Me">
		{
			randomAffiliates.map((item) => (
				<Card
					title={item.nama}
					subtitle={item.deskripsi}
					icon={item.icon_name}
					href={item.url}
				/>
			))
		}
		<Card
			title="Donasi"
			subtitle='Direct "free" money'
			icon="coins"
			href="/donate"
		/>
	</Section>
</Layout>
