---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
	description?: string;
	iconName?: string;
	img?: ImageMetadata;
	name: string;
	url: string;
}

const { name, description, url, iconName, img } = Astro.props;

function hasHostname(link: string) {
	const regex = /^(https?:\/\/)?([a-zA-Z0-9.-]+)(\/[a-zA-Z0-9.-]*)*\/?$/;
	const match = link.match(regex);
	// Check if the second capturing group (hostname) exists in the match
	return match && match[2] !== undefined;
}

const redirect = hasHostname(url);
---

<a
	class="button"
	href={url}
	target={redirect ? '_blank' : undefined}
	rel={redirect ? 'noopener noreferrer' : undefined}
	title={name}
>
	<div class="button-icon">
		{iconName && <Icon name={iconName} />}
		{
			img && (
				<Image
					src={img}
					alt={name}
					quality={75}
					width={128}
					height={128}
					loading="eager"
					slot="image-astro"
				/>
			)
		}
	</div>
	{description ? <span class="button-description">{description}k</span> : ''}
</a>
